@using Anonymous_forum.ViewModels;
@using Microsoft.EntityFrameworkCore;

@model CreateThreadViewModel;

@{
    ViewData["Title"] = "CreateThread";
}

<h2>Create New Thread</h2>
<a href="/Thread/Index/@Model.CategoryId">Go back</a>
<hr/>

@using (Html.BeginForm("PostThread", "Thread", FormMethod.Post))
{
    <fieldset>
        <input type="hidden" value="@Model.CategoryId" name="categoryId" />
        <div class="form-label">
            @Html.LabelFor(model => model.ThreadTitle)
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.ThreadTitle, new { @placeholder="Title"})
            @Html.ValidationMessageFor(model => model.ThreadTitle, "")
        </div>
        <div class="form-label">
            @Html.LabelFor(model => model.ThreadText)
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.ThreadText, new { @placeholder="Text"})
            @Html.ValidationMessageFor(model => model.ThreadText, "")
        </div>
        <hr/>
        <div>
            <input type="submit" value="Create New Thread" />
        </div>
    </fieldset>
}