@using AnonymousForum.ViewModels;
@using Microsoft.EntityFrameworkCore;

@model CreateThreadViewModel;

@{
    ViewData["Title"] = "CreateThread";
}

<h1>Create New Thread</h1>
<a href="/Threads/Index/@Model.CategoryId">Go back</a>
<hr/>

@using (Html.BeginForm("PostThread", "Threads", FormMethod.Post))
{
    <fieldset>
        <input type="hidden" value="@Model.CategoryId" name="categoryId" />
        <div class="form-label">
            Please enter your title
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.ThreadTitle, new { @placeholder="Title"})
            @Html.ValidationMessageFor(model => model.ThreadTitle, "")
        </div>
        <div class="form-label">
            Please type your text
        </div>
        <div class="form-field">
            @Html.TextBoxFor(model => model.ThreadText, new { @placeholder="Text"})
            @Html.ValidationMessageFor(model => model.ThreadText, "")
        </div>
        <hr/>
        <div>
            <input type="submit" value="Create New Thread" />
        </div>
    </fieldset>
}