@model Anonymous_forum.Models.Threads

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Threads</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreadText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreadTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ThreadId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
