@model IEnumerable<Anonymous_forum.Models.CommentsViewModel>

@{
    ViewData["Title"] = "Thread";
}

<h1>@Html.DisplayNameFor(model => model.ThreadTitle)</h1>
<p>@Html.DisplayNameFor(model => model.ThreadText)</p>

<p>
    @Html.ActionLink("Add a comment", "CreateComments")
</p>

<div>
    @Html.DisplayNameFor(model => model.CommentText)
</div>

<div>
    @foreach (var comment in Model)
    {
        <ul>
            @Html.DisplayFor(modelThread => comment.CommentText)
        </ul>
    }
</div>